
div{
    background-color: black;
    text-align: center;
    width: 100vw;
    margin: 0;
    font-size: 2vw;
}
h1{
    color: goldenrod;
    font-size: 4em;
}
h3{
    color: greenyellow;
    font-size: 2em;
}
p{
    font-size: 1em;
    color: rgb(83, 172, 255);
}
img{
    width: 100vw;
}